#Location: /etc/systemd/system/wg-failover-pc.service 

[Unit]
Description=Wireguard Failover PC Script - Switch between VPN CLient Paris & the backup Auber VPN according to the Wireguard Paris UDP connexion state active

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wg-failover-pc.sh
